.background_icon{
    margin-top: 0%;
    background-repeat: no-repeat; 
    width: 1440px;
    height: auto;
    top: 0;
    left: 0;
    object-fit: cover;
}

.background_icon img{
    width: 1440px;
    height: auto;
    opacity: 8%;
    position: relative;
}