body{
  margin: 0;
  padding: 0;
}

.header {
  width: 1440px;
  display: flex;
  align-items: center;
  background-color: rgba(227, 232, 253, 1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.header h1 {
  margin-right: 20px;
}

.header ul {
  display: flex;
  margin-left: 80px;
  justify-content: space-between;
}

.header li {
  list-style-type: none;
  margin-left: 110px;
}